<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="hhhh.ZPM">
    <Module>
      <Name>hhhh</Name>
      <Version>1.0.1</Version>
      <Description>update</Description>
      <Keywords>1</Keywords>
      <Packaging>module</Packaging>
      <Resource Name="JHUTIL.PKG"/>
      <SourcesRoot>src</SourcesRoot>
    </Module>
  </Document>
</Export>
